body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.quiz {
  margin: 0 auto;
  width: 600px;
}

.quiz-questions,
.quiz-indicator,
.quiz-results {
  margin-bottom: 20px;
}

.quiz-questions-item__question {
  font-size: 20px;
  margin-bottom: 20px;
}

.quiz-questions-item__answers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz-results {
  display: none;
}

.quiz-results-item {
  margin-bottom: 20px;
}

.quiz-results-item__question {
  font-size: 20px;
  margin-bottom: 20px;
}

.quiz-results-item__answers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-restart {
  display: none;
}

.question--hidden,
.indicator--hidden,
.btn-next--hidden {
  display: none;
}

.results--visible,
.btn-restart--visible {
  display: block;
}

.answer--invalid {
  color: red;
}

.answer--valid {
  color: green;
}